/************************************* navigationbar *****************************************/
.nav-container {
  background-color: rgb(165, 61, 42);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
  padding: 1rem 0;
  z-index: 100;
}
.nav-logo {
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 15%;
}
.nav-cart {
  margin-right: 15%;
  width: 18%;
  display: flex;
  align-items: center;
  background-color: rgba(77, 22, 1, 0.911);
  justify-content: center;
  padding: 0.6rem;
  border-radius: 15px;
  cursor: pointer;
}
.nav-cart-icon {
  display: flex;
  align-items: center;
}
.nav-cart span {
  margin-right: 1rem;
  font-size: 1.5rem;
}
.nav-cart-count {
  margin-left: 1rem;
  background-color: rgba(172, 85, 28, 0.993);
  padding: 0.5rem;
  border-radius: 1rem;
}

.Heading-container {
  display: flex;
  padding: 2rem 3rem;
  background-color: #333;
  border-radius: 1.5rem;
  color: white;
  margin: 200px auto;
  margin-bottom: 0;
  flex-direction: column;
  align-items: center;
  width: 40%;
  z-index: 1;
  text-align: center;
}
.Heading-container-Head {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.Heading-container-SubHead {
  font-size: 1rem;
  margin-top: 1rem;
  line-height: 1rem;
}
.Body {
  background-color: white;
  padding: 1rem;
  border-radius: 1.5rem;
  color: white;
  margin: 2rem auto;
  margin-bottom: 0;
  flex-direction: column;
  align-items: center;
  width: 60%;
  z-index: 1;
}

.Body-Item {
  padding: 1rem;
  border-bottom: 1px solid #e5e5e5;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Body-Item-text {
  display: flex;
  flex-direction: column;
}
.Body-Item-text > .name {
  font-weight: bold;
}
.Body-Item-text > .description {
  padding: 0.5rem 0;
  font-style: italic;
  color: #333;
}
.Body-Item-text > .price {
  font-weight: bold;
  color: brown;
}
.Body-Item-Controls {
  display: flex;
  flex-direction: column;
}
.Body-Item-Controls > .Input {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.Body-Item-Controls > .Input > input {
  width: 2rem;
  margin-left: 1rem;
}

.Body-Item-Controls > button {
  margin-top: 1rem;
  background-color: rgb(165, 61, 42);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  color: wheat;
  cursor: pointer;
}
